@import "../common/scss/_all.scss";
@import "../common/scss/_nav.scss";

.blur {
	background: 0 !important;
}

.shift-down {
	margin-top: 5vh;
	padding: 10px;
	border: 1px solid #77aaff;
	box-shadow: 0 0 1em white;
}

.full * {
	background: transparent !important;
}

