extends ../common/layout

block heading
	script(src=htmlWebpackPlugin.files.chunks['calculator/index'].entry)
	link(href=`${htmlWebpackPlugin.files.css}` rel="stylesheet" type="text/css")

block content
	include ../common/nav.pug
	//h1 #{JSON.stringify(htmlWebpackPlugin)}