extends ../common/pug/layout

block heading
	if (htmlWebpackPlugin)
		link(href=`${htmlWebpackPlugin.files.css[0]}` rel="stylesheet" type="text/css")

block content
	section.section.hero.is-fullheight
		include ../common/pug/nav.pug
		div.hero-body
			div.container.is-fullwidth
				div.modal
					div.modal-background
					div.modal-content
						div#error-modal.box.has-text-centered
					div.modal-close
				div.columns.is-mobile
					div.app.column.is-10.is-offset-1
						h2.window.title.has-text-centered
						div.keypad.tile.is-ancestor.is-vertical
							div.tile.is-parent.is-12.columns.is-hidden-mobile
								button.button.column(data-key='SIN') SIN
								button.button.column(data-key='COS') COS
								button.button.column(data-key='TAN') TAN
								button.button.column(data-key='LOG') LOG

							div.tile.is-parent.is-12.columns.is-hidden-mobile
								button.button.column(data-key='E') E
								button.button.column(data-key='PI') PI
								button.button.column(data-key='LN2') LN2
								button.button.column(data-key='RAND') RAND

							div.tile.is-parent.is-12.columns.is-mobile
								button.button.column(data-key='delete') delete

							div.tile.is-parent.is-12.columns.is-mobile
								button.button.column(data-key='(') (
								button.button.column(data-key=')') )
								button.button.column(data-key='^') ^
								button.button.column(data-key='/') /

							div.tile.is-parent.is-12.columns.is-mobile
								button.button.column(data-key='7') 7
								button.button.column(data-key='8') 8
								button.button.column(data-key='9') 9
								button.button.column(data-key='*') *

							div.tile.is-parent.is-12.columns.is-mobile
								button.button.column(data-key='4') 4
								button.button.column(data-key='5') 5
								button.button.column(data-key='6') 6
								button.button.column(data-key='+') +

							div.tile.is-parent.is-12.columns.is-mobile
								button.button.column(data-key='1') 1
								button.button.column(data-key='2') 2
								button.button.column(data-key='3') 3
								button.button.column(data-key='-') -

							div.tile.is-parent.is-12.columns.is-mobile
								button.button.column(data-key='.') .
								button.button.column(data-key='0') 0
								button.button.column(data-key='=') =
								button.button.column(data-key='clear') c
							h2.has-text-centered.subtitle.is-hidden-tablet Please visit on desktop for full experience
