{
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-flow-strip-types",
  ],
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 5% in US"]
      },
      "modules": false,
      "loose": true
    }],
    "stage-3"
  ],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
