extends ../common/layout

block heading
	script(src=htmlWebpackPlugin.files.chunks['blog/index'].entry)
	link(href=`${htmlWebpackPlugin.files.css}` rel="stylesheet" type="text/css")

block content
	h1.testing #{JSON.stringify(htmlWebpackPlugin)}