extends ../common/pug/layout

block heading
	if (htmlWebpackPlugin)
		link(href=`${htmlWebpackPlugin.files.css}` rel="stylesheet" type="text/css")

block content
	section.hero.is-fullheight
		include ../common/pug/nav.pug
		div.hero-body
			div.level.container
				div.level-item
					div.circle.columns.is-multiline.is-mobile
						div.is-marginless.over
							div.menu
								div.menu-layout
									div.one.level.is-marginless
										div.level-item
											div.label Simon
									div.two.level.is-marginless
										div.level-item
											div#score-label
											div.label score
									div.three.level.is-marginless
										div.level-item
											div.label.is-marginless Start
											button#start
									div.four.level.is-marginless
										div.level-item
											button#strict-indicator
											button#strict
									div.five.level
										div.level-item
											div.power-toggle
												div.label On
												div.power-parent: div#power.is-off
												div.label Off
									//-button.is-half#strict Strict
						div.column.is-half#red.red
						div.column.is-half#yellow.yellow
						div.column.is-half#green.green
						div.column.is-half#blue.blue
