extends ../common/layout

block heading
	if (htmlWebpackPlugin)
		script(src=htmlWebpackPlugin.files.chunks['simon/index'].entry)
		link(href=`${htmlWebpackPlugin.files.css}` rel="stylesheet" type="text/css")

block content
	button#power
	button#strict
	button#red
	button#yellow
	button#green
	button#blue
