extends ../common/pug/layout

block heading
	if (htmlWebpackPlugin)
		link(href=`${htmlWebpackPlugin.files.css}` rel="stylesheet" type="text/css")

block content
	section.hero.is-fullheight
		include ../common/pug/nav.pug
		div.hero-body
			div.level.container
				div.level-item
					div.circle.columns.is-multiline.is-mobile
						div.is-marginless.over
							div.menu
								div.menu-layout(style="width: 100%; height: 100%; background-color: brown;")
									div.one.level.is-marginless
										div.level-item
											div 1
									div.two.level.is-marginless
										div.level-item
											div 2
									div.three.level.is-marginless
										div.level-item
											div 3
									div.four.level.is-marginless
										div.level-item
											div 4
									div.five.level
										div.level-item
											div 5
									//-button.is-half#power Power
									//-button.is-half#strict Strict
						div.column.is-half#red
						div.column.is-half#yellow
						div.column.is-half#green
						div.column.is-half#blue
