extends ../common/pug/layout

block heading
	if (htmlWebpackPlugin)
		script(src=htmlWebpackPlugin.files.chunks['pomodoro/index'].entry)
		link(href=`${htmlWebpackPlugin.files.css}` rel="stylesheet" type="text/css")

block content
	include ../common/pug/nav.pug
	section.view
		div.container
			div.app
				div.rest
					button#rest-dec -
					h3#rest-counter 1
					button#rest-inc +
					h3 Rest
				div.work
					button#work-dec -
					h3#work-counter 1
					button#work-inc +
					h3 Work
				div#timer
					div.first
					div.second
						h1#time 0:0.00
					div.third
						button#timer-btn start
						button#reset-btn reset
