extends ../common/pug/layout

block heading
	if (htmlWebpackPlugin)
		script(src=htmlWebpackPlugin.files.chunks['pomodoro/index'].entry)
		link(href=`${htmlWebpackPlugin.files.css}` rel="stylesheet" type="text/css")

block content
	include ../common/pug/nav.pug
	section.view
		article.centered
			div.rest
				h3.rest-counter 1
				button#rest-dec -
				button#rest-inc +
			div.work
				h3.work-counter 1
				button#work-dec -
				button#work-inc +
			div.container
					div.first
					div.second
						h1 0:0.00
					div.third
						button#timer-btn Start
						button#reset-btn Reset
