@import '../common/scss/_layout';

$small-screen: 994px;
$large-screen: 995px;

* {
	text-align: center;
	margin: 0;
}

.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.app {
	@extend .flex;
}

.shell {
	width: 100vw;
	height: 100vh;
	position: absolute;
}

.container {
	width:  fit-content;
	height: fit-content;
}

section.view {
	position: relative;
	top: 10vh;
	//bottom: 0;
	left: 0;
	right: 0;
	background-color: grey;
	@extend .flex;
}

#rest-dec,
#rest-counter,
#rest-inc,
#work-dec,
#work-counter,
#work-inc {
	display: inline-block;
}

article {
}

.rest,
.work {
	//width: 100%;
	width: 50%;
	max-height: fit-content;
}

.rest {
	//order: 0;
}

.work {
	//order: 2;
}

#timer {
	//order: 1;
	width: 50vh;
	height: 50vh;
	background-color: blue;
}

.first {
}

.second {
}

.third {
}

#timer-btn,
#reset-btn {
}

.first,
.second,
.third {
}

.timer {
}

/* Small screens ~ipad and under */
@media screen and (min-width: $min-width) and (max-width: $small-screen) {
}

/* Large screens ~ipad and above */
@media screen and (min-width: $large-screen) {
	.container {
	}

	.work,
	.rest {
	}
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

