extends ../common/pug/layout

block heading
	if (htmlWebpackPlugin)
		link(href=`${htmlWebpackPlugin.files.css}` rel="stylesheet" type="text/css")

block content
	h1 #{JSON.stringify(htmlWebpackPlugin)}
	div.view
	div.center-panel
		input#search-text
		button#search-btn
		button#random-btn
	div.result-container
		div.heading
			h1
			h2
		p
	div.result-container
		div.heading
			h1
			h2
		p
	div.result-container
		div.heading
			h1
			h2
		p
	div.result-container
		div.heading
			h1
			h2
		p
	div.result-container
		div.heading
			h1
			h2
		p
	div.result-container
		div.heading
			h1
			h2
		p
	div.result-container
		div.heading
			h1
			h2
		p
	div.result-container
		div.heading
			h1
			h2
		p
	div.result-container
		div.heading
			h1
			h2
		p
	div.result-container
		div.heading
			h1
			h2
		p
