extends ../common/pug/layout

block heading
	if (htmlWebpackPlugin)
		link(href=`${htmlWebpackPlugin.files.css}` rel="stylesheet" type="text/css")

block content
	//-h1 #{JSON.stringify(htmlWebpackPlugin)}
	section.hero
		include ../common/pug/nav.pug
		div.hero-body.shift-down
			div.view
			div.center-panel
				input#search-text
				button#search-btn Search
				button#random-btn Random
			div.result-container
				div.heading
					h1 Boss Corporation
					h2 view on Wikipedia
				p Boss is a manufacturer of effects pedals for electric guitar and bass guitar.
			div.result-container
				div.heading
					h1
					h2
				p
			div.result-container
				div.heading
					h1
					h2
				p
			div.result-container
				div.heading
					h1
					h2
				p
			div.result-container
				div.heading
					h1
					h2
				p
			div.result-container
				div.heading
					h1
					h2
				p
			div.result-container
				div.heading
					h1
					h2
				p
			div.result-container
				div.heading
					h1
					h2
				p
			div.result-container
				div.heading
					h1
					h2
				p
			div.result-container
				div.heading
					h1
					h2
				p
