extends ../common/pug/layout

block heading
	if (htmlWebpackPlugin)
		script(src=htmlWebpackPlugin.files.chunks['randomquote/index'].entry)
		link(href=`${htmlWebpackPlugin.files.css}` rel="stylesheet" type="text/css")

block content
	div.box
		div#quotebox
			div.quote In quoting others, we cite ourselves.
			div.author Julio Cortazar
		div.addendum
			div.attribution
				| API by:
				a(href="http://forismatic.com/en/") forismatic
				a.tweet(href="")
					include Static/Twitter_Logo_Blue.svg
		button#refresh Refresh
