@import "../common/scss/_all.scss";
@import "../common/scss/_nav.scss";

html {
	background-image: url("./Assets/dust_scratches.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-head * {
	color: black !important;
}

.full * {
	background: transparent !important;
}

input {
	margin-right: 5px;
}

.heading {
	width: fit-content;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.shift-down {
	margin-top: 20px;
}

.fahrenheit {
	margin-left: 20px;
}

table {
	margin: 0 auto;

	& * {
		text-align: center !important;
	}
}

.table-color-override {
	background-color: transparent !important;
}
