extends ../common/pug/layout

block heading
	if (htmlWebpackPlugin)
		link(href=`${htmlWebpackPlugin.files.css}` rel="stylesheet" type="text/css")

block content
	section.section.hero
		include ../common/pug/nav.pug
		div.hero-body.is-fullwidth
			div.container.shift-down
				div.columns
					div.column
						span: h1#fetch-btn.heading.title.has-text-centered.is-4 Fetch
					div.column
						div.tabs.is-centered
							ul
								li.celsius
									input(name="temp", type="radio", data-type="celsius")
									|Celsius
								li.fahrenheit
									input(name="temp", type="radio", checked="true", data-type="fahrenheit")
									|Fahrenheit

		div.container
			table.table
				thead
					tr
						td Day
						td Time
						td Temp
						td
						td Forecast
				tbody
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
					tr.cell.hide
						td.day
						td.time
						td.measurement
						td
							span.icon
								img
						td.weather
