extends ../common/layout

block heading
	if (htmlWebpackPlugin)
		script(src=htmlWebpackPlugin.files.chunks['localweather/index'].entry)
		link(href=`${htmlWebpackPlugin.files.css}` rel="stylesheet" type="text/css")

block content
	include ../common/nav.pug

	section.app-container
		div
			h1.heading
			div.control-bar
				input.celsius(name="temp", type="radio")
				|Celsius
				input.fahrenheit(name="temp", type="radio", checked="true")
				|Fahrenheit

		table
			thead
				tr
					td Day
					td Time
					td Temp
					td
					td Forecast
			tbody
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
				tr.cell.hide
					td.day
					td.time
					td.measurement
					td.icon
						img
					td.weather
