@import "../common/scss/_all.scss";
@import "../common/scss/_nav.scss";

input {
	margin-right: 5px;
}

.heading {
	width: fit-content;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.shift-down {
	margin-top: 20px;
}

.fahrenheit {
	margin-left: 20px;
}

table * {
	text-align: center !important;
}
