extends ../common/pug/layout

block heading
	if (htmlWebpackPlugin)
		link(href=`${htmlWebpackPlugin.files.css}` rel="stylesheet" type="text/css")

block content
	section.hero
		include ../common/pug/nav.pug
		div.hero-body.main
			div#start.hidden.scene
				div.card.columns.is-mobile.is-multiline

					div.column.is-6
						div.level
							div.level-item
								button.select-btn X

					div.column.is-6
						div.level
							div.level-item
								button.select-btn O

				div.columns.is-mobile.set-height
					div.column.is-6.is-offset-3
						div.level
							div.level-item
								div#difficulty.dropdown
									div.dropdown-trigger
										button.button.set-height
											span Difficulty
									div.dropdown-menu.set-height
										div.dropdown-content
											div.dropdown-item.set-height.difficulty 1 Easy
											div.dropdown-item.set-height.difficulty 2
											div.dropdown-item.set-height.difficulty 3
											div.dropdown-item.set-height.difficulty 4
											div.dropdown-item.set-height.difficulty 5 Medium
											div.dropdown-item.set-height.difficulty 6
											div.dropdown-item.set-height.difficulty 7
											div.dropdown-item.set-height.difficulty 8
											div.dropdown-item.set-height.difficulty 9 Hard

			div#play.scene.board.hidden
				div.columns.is-mobile.is-multiline.game-grid

					div.column.is-4.game-tile
						div.level.no-pointer-events
							div.level-item.no-pointer-events
								div.tile

					div.column.is-4.game-tile
						div.level.no-pointer-events
							div.level-item.no-pointer-events
								div.tile

					div.column.is-4.game-tile
						div.level.no-pointer-events
							div.level-item.no-pointer-events
								div.tile

					div.column.is-4.game-tile
						div.level.no-pointer-events
							div.level-item.no-pointer-events
								div.tile

					div.column.is-4.game-tile
						div.level.no-pointer-events
							div.level-item.no-pointer-events
								div.tile

					div.column.is-4.game-tile
						div.level.no-pointer-events
							div.level-item.no-pointer-events
								div.tile

					div.column.is-4.game-tile
						div.level.no-pointer-events
							div.level-item.no-pointer-events
								div.tile

					div.column.is-4.game-tile
						div.level.no-pointer-events
							div.level-item.no-pointer-events
								div.tile

					div.column.is-4.game-tile
						div.level.no-pointer-events
							div.level-item.no-pointer-events
								div.tile

				div
					div.level
						div.level-item
							button#undo.button.is-outlined.is-danger Undo Move

			div#score.scene.card.is-fullwidth.menu.hidden
				div.columns.is-mobile.is-multiline.expands

					div.column.is-6.is-12-mobile
						div.level
							div.level-item
								div.box.fit X
								div Score:
								div#X-score.score 0

					div.column.is-6.is-12-mobile
						div.level
							div.level-item
								div.box.fit O
								div Score:
								div#O-score.score 0

					div.column.is-6
						div.level
							div.level-item
								button#restart.button.is-primary.is-outlined  Restart

					div.column.is-6
						div.level
							div.level-item
								button#reset.button.is-outlined.is-warning Reset
