@import "./_normalize";

$small-screen: 994px;
$large-screen: 995px;
$min-width: 0px;
$max-width: 1024px;

section.nav-container {
  position: relative;//absolute;
  display: block;
	top: 0;
	bottom: 10vh;
	left: 0;
	right: 0;
};

table {
  width: 60vw;
}

tr {
	min-width: 2;
}

td {
  width: 100%;
}

/* Navigation menu on top of screen */
nav {
  width: 100%;
  background-color: lightblue;
  z-index: 3;

  justify-content: space-between;
  align-items: center;
  position: relative;

  /* Navigation menu item */
  & .nav-menu {
    // width: 10%;
    text-align: center;
    width: 20vw;
    opacity: 1;
    border: 1px solid black;

    /* Navigation menu item dropbox */
    & div {
      display: hidden;
      position: absolute;
      border: 1px solid black;

      top: 70%;
      width: inherit;
      height: 0px;
      opacity: 0;
      z-index: 1;

      transition: height 1s;
      transition: opacity 1s;
    }
  }

  /* Menu buttons slide on hover, active */
  & .nav-menu:focus,
  & .nav-menu:hover,
  & .nav-menu:active {
    & div {
      height: auto;
      opacity: 1;
      display: inherit;
    }
  }
}

/* Small screens ~ipad and under */
@media screen and (min-width: $min-width) and (max-width: $small-screen) {
  nav.mobile {
    display: flex;
    visibility: visible;
    position: absolute;

    & div {
      width: fit-content;
      padding: 0 2px;
    }

    & .nav-menu:first-child {
      margin-left: 10vw;
    }

    & .nav-menu:last-child {
      margin-right: 10vw;
    }
  }

  nav.desktop {
    display: none;
    visibility: hidden;
  }
}

/* Large screens ~ipad and above */
@media screen and (min-width: $large-screen) {
  nav.mobile {
    display: none;
    visibility: hidden;
    position: absolute;
  }

  nav.desktop {
    display: flex;
    visibility: visible;

    & nav {
      width: 10%;
    }

    & h3:first-child {
      margin-left: 1vw;
    }

    & h3:last-child {
      margin-right: 1vw;
    }

    & a:first-child {
      margin-left: 5vw;
    }

    & a:last-child {
      margin-right: 5vw;
    }
  }
}
