.fixed {
	position: fixed !important;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.full {
	min-width: 100%;
	& * {
		//background-color: rgba(0, 0, 0, 0.3) !important;
	}
}

.hero-head * {
	color: $white !important;
}

$small-icon: 120px;

.hero.is-info .nav {
	box-shadow: none;
}

$primary-background-color: rgba(0,0,0,0.8);

.blur {
	background: $primary-background-color !important;
}

.control-height {
	min-height: $size-1;
}

.hero .nav {
	box-shadow: none;
}

.centered-text {
	text-align: center;
}

.dropdown {
	display: none;
	left: 0;
	//position: absolute;
  //top: 100%;
  //z-index: 1000;
}

.dropdown.is-open {
  display: block;
}

@media screen and (min-width: 727px) {
	li.blur {
		width: 12.5%;
	}
}
