div.hero-head.fixed
	header.nav
		div.container.blur
			div.nav-left.nav-menu
				a.nav-item.is-active Home
			div.nav-center.nav-menu
				a.nav-item Blog
				a#projects-btn.nav-item Projects

	div
		header.nav
			div.container
				nav.tabs.is-boxed.full
					div.container.dropdown.full.is-fullwidth.container
						ul
							li.blur: a calculator
							li.blur: a weather
							li.blur: a pomodoro
							li.blur: a quote
							li.blur: a simon
							li.blur: a tic-tac-toe
							li.blur: a twitch
							li.blur: a wiki
