div.hero-head.fixed
	header.nav
		div.container.blur
			div.nav-left.nav-menu
				a(href='/').nav-item.is-active Home
			div.nav-center.nav-menu
				a#projects-btn.nav-item Projects
				a.nav-item Blog

	div
		header.nav
			div.container
				nav.tabs.is-boxed.full
					div.container.dropdown.full.is-fullwidth.container
						ul
							li.blur.is-marginless: a(href='/calculator') calculator
							li.blur.is-marginless: a(href='/localweather') weather
							li.blur.is-marginless: a(href='/pomodoro') pomodoro
							li.blur.is-marginless: a(href='/randomquote') quote
							li.blur.is-marginless: a(href='/simon') simon
							li.blur.is-marginless: a(href='/tictactoe') tic-tac-toe
							li.blur.is-marginless: a(href='/twitchtv') twitch
							li.blur.is-marginless: a(href='/wikiviewer') wiki
