div.hero-head.fixed
	header.navbar
		div.navbar-brand
			a(href='/').navbar-item Home
			a#projects-btn.navbar-item Projects
			a(href='https://medium.com/@travmath', target='_blank').navbar-item Blog

	div
		header.nav
			div.container
				nav.tabs.is-boxed.full
					div.container.dropdown-custom.full.is-fullwidth.container
						ul
							li.blur.is-marginless: a(href='/calculator') calculator
							li.blur.is-marginless: a(href='/localweather') weather
							li.blur.is-marginless: a(href='/pomodoro') pomodoro
							li.blur.is-marginless: a(href='/randomquote') quote
							li.blur.is-marginless: a(href='/simon') simon
							li.blur.is-marginless: a(href='/tictactoe') tic-tac-toe
							li.blur.is-marginless: a(href='/twitchtv') twitch
							li.blur.is-marginless: a(href='/wikiviewer') wiki
