extends ../common/pug/layout

block heading
	if (htmlWebpackPlugin)
		link(href=`${htmlWebpackPlugin.files.css}` rel="stylesheet" type="text/css")

block content
	div.centered-flexbox
		button.fetch-streams Fetch Current Streams
		ul
