@import "common/scss/_all.scss";
@import "common/scss/_nav.scss";

#story {
	& > * {
		background-color: $orange;
	}
}

#work {
	& > * {
		background-color: $green;
	}
}

#languages {
	& > * {
		background-color: $turquoise;
	}
}

#skills {
	& > * {
		background-color: $purple;
	}
}

#interests {
	& > * {
		background-color: $grey;
	}
}
