extends common/pug/layout

block heading
	if (htmlWebpackPlugin)
		link(href=`${htmlWebpackPlugin.files.css}` rel="stylesheet" type="text/css")

block content
	section.hero.is-info.is-fullheight
		include common/pug/nav.pug

		div.hero-body
			div.container.has-text-centered
				h1.title Travis Matthews
				h2.subtitle developer

		div.hero-foot
			nav.tabs.is-boxed.is-fullwidth
				div.container
					ul
						li: a(href='#story') Story
						li: a(href='#work') Work
						li: a(href='#languages') Languages
						li: a(href='#skills') Skills
						li: a(href='#interests') Interests

	section#story.hero.is-fullheight
		div.hero-head
			div.container

		div.hero-body
			div.container

				div.card
					div.card-content
						div.columns.is-mobile
							div.column.is-4
								figure.is-square
									img(src=require('../assets/images/kleber-varejao-filho-14626.jpg')).circle

							div.column.is-8.has-text-centered Hi, my name is Travis Matthews. I'm a developer based out of Philadelphia, PA.


	section#work.hero.is-fullheight
		div.hero-head
			div.container

		div.hero-body
			div.container
				div.card
					div.card-content
						p.title.centered-text Work

	section#languages.hero.is-fullheight
		div.hero-head
			div.container

		div.hero-body
			div.container
				div.card
					div.card-content
						p.title.centered-text Languages

	section#skills.hero.is-fullheight
		div.hero-head
			div.container

		div.hero-body
			div.container
				div.card
					div.card-content
						p.title.centered-text Skills

	section#interests.hero.is-fullheight
		div.hero-head
			div.container

		div.hero-body
			div.container
				div.card
					div.card-content
						p.title.centered-text Interests
