extends common/layout

block heading
	script(src=htmlWebpackPlugin.files.chunks['index'].entry)
	link(href=`${htmlWebpackPlugin.files.css}` rel="stylesheet" type="text/css")

block content
	h1.testing #{JSON.stringify(webpack)}
	a(class='testing' href='/blog') blog
	a(href='/calculator') calculator
	a(href='/localweather') localweather
	a(href='/pomodoro') pomodoro
	a(href='/randomquote') randomquote
	a(href='/simon') simon
	a(href='/tictactoe') tictactoe
	a(href='/twitchtv') twitchtv
	a(href='/wikiviewer') wikiviewer
