extends common/pug/layout

block heading
	script(src=htmlWebpackPlugin.files.chunks['index'].entry)
	link(href=`${htmlWebpackPlugin.files.css}` rel="stylesheet" type="text/css")

block content
	include common/pug/nav.pug

	main
		section#landing
		section#intro
		script.
			console.log(!{JSON.stringify(htmlWebpackPlugin)})
