//@import '~font-awesome/scss/_variables.scss';
//$fa-font-path: "~font-awesome/fonts";
//@import '~font-awesome/scss/font-awesome.scss';

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";

@import "~bulma/sass/elements/_all";
//@import "~bulma/sass/elements/box.sass";
//@import "~bulma/sass/elements/button.sass";
//@import "~bulma/sass/elements/content.sass";
//@import "~bulma/sass/elements/form.sass";
//@import "~bulma/sass/elements/icon.sass";
//@import "~bulma/sass/elements/image.sass";
//@import "~bulma/sass/elements/notification.sass";
//@import "~bulma/sass/elements/other.sass";
//@import "~bulma/sass/elements/progress.sass";
//@import "~bulma/sass/elements/table.sass";
//@import "~bulma/sass/elements/tag.sass";
//@import "~bulma/sass/elements/title.sass";

@import "~bulma/sass/components/_all";
//@import "~bulma/sass/components/_all.sass";
//@import "~bulma/sass/components/card.sass";
//@import "~bulma/sass/components/level.sass";
//@import "~bulma/sass/components/media.sass";
//@import "~bulma/sass/components/menu.sass";
//@import "~bulma/sass/components/message.sass";
//@import "~bulma/sass/components/modal.sass";
//@import "~bulma/sass/components/nav.sass";
//@import "~bulma/sass/components/pagination.sass";
//@import "~bulma/sass/components/panel.sass";
//@import "~bulma/sass/components/tabs.sass";

 @import "~bulma/sass/grid/_all";
//@import "~bulma/sass/grid/columns.sass";

 @import "~bulma/sass/layout/_all";
//@import "~bulma/sass/layout/hero.sass";
//@import "~bulma/sass/layout/section.sass";
//@import "~bulma/sass/layout/footer.sass";

#story {
	& > * {
		background-color: $orange;
	}
}

#work {
	& > * {
		background-color: $green;
	}
}

#languages {
	& > * {
		background-color: $turquoise;
	}
}

#skills {
	& > * {
		background-color: $purple;
	}
}

#interests {
	& > * {
		background-color: $grey;
	}
}

.horizontal-scroll {
	overflow-x: scroll;
	width: 100%;

	& a.nav-item {
		max-height: 50px;
		width: 25vw;
	}
}

$small-icon: 120px;

.hero.is-info .nav {
	box-shadow: none;
}

li a {
	& > * {
		background: rgba(0,0,0,0.3);
	}
}

.control-height {
	min-height: $size-1;
}

.hero .nav {
	box-shadow: none;
}

.centered-text {
	text-align: center;
}

.dropdown {
	display: none;
	left: 0;
	//position: absolute;
  //top: 100%;
  //z-index: 1000;
}

.dropdown.is-open {
  display: block;
}
