extends common/layout

block heading
	script(src=htmlWebpackPlugin.files.chunks['index'].entry)
	script(src=htmlWebpackPlugin.files.chunks['index'].entry)

block content
	a(href='/blog') blog
	a(href='/calculator') calculator
	a(href='/localweather') localweather
	a(href='/pomodoro') pomodoro
	a(href='/randomquote') randomquote
	a(href='/simon') simon
	a(href='/tictactoe') tictactoe
	a(href='/twitchtv') twitchtv
	a(href='/wikiviewer') wikiviewer
